.outer-container {
   max-width: 1300px;
   width: 96%;
   margin: 0 auto;
}

.container {
   width: 90%;
   margin: 0 auto;
}

.nav {
   display: flex;

   &__links {
      display: flex;
   }
}

.nav--user {
   justify-content: space-between;
}

.nav--main {
   // justify-content: space-between;

   & div.outer-container {
      display: flex;
      justify-content: space-between;

      & div {
         display: flex;
         align-items: center;
      }
   }
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__logos-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      & div {
         align-self: flex-end;
      }
   }
}

.features {

   &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & div {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 240px;
         margin-right: 2rem;

         &:last-child {
            margin-right: 0;
         }
      }
   }
}

.promos {
   display: flex;

   &__promo {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.featured-pc {
   display: flex;
   align-items: center;
}

.refurbished {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.reviews {
   
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & div {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }
}

.footer-menu {
   
   & > div {
      display: flex;
      justify-content: space-between;      
   }
}

.footer {

   &__newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
}

.nav--footer {
   justify-content: space-between;

   & div, & .nav__links {
      display: flex;
      align-items: flex-end;
   }
}

// Responsive

@media (max-width: 1280px) {
   .container {
      width: 94%;
   }

   .nav--footer .nav__links--footer li a {
      margin-left: 1rem;
  }
}

@media (max-width: 1024px) {
   .container {
      width: 96%;
   }

   .nav--main {
      & .nav__links li a {
         padding: 0 .5rem;
      }

      & .btn--border {
         padding: 0.5rem 1.5rem;
      }
   }
   .nav--footer {
      flex-direction: column;
      align-items: center;

      & > div {
         flex-direction: column;
         align-items: center;
         margin-bottom: 1.5rem;
      }

      & .nav__links--footer {
         margin-bottom: 1.5rem;
      }
   }

   .features__container {
      justify-content: space-evenly;

      & > div:last-child {
         margin-top: 2rem;
      }
  }

   .reviews__container {
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: auto;
      padding: 2rem 0;

      & > div {
         width: 40%;
      }
  }

  .footer-menu {
     & > div {
        flex-wrap: wrap;
        justify-content: space-evenly;
     }

     &__container {
        margin-right: 2rem;

        &:last-child {
           margin-right: 0;
        }
     }
  }

  .footer {
   &__newsletter {
      margin-bottom: 2rem;
   }
}
}

@media (max-width: 768px) {

   // Nav responsive
   .nav--main {

      & .nav__links, a.btn--border {
         display: none;
      }

      & #nav-toggle {
         display: block;
      }
   }

   .nav--mobile {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: $primary;
      width: 100%;
      left: 0;
      top: 109px;
      bottom: 0;
      z-index: 10;
      
      & li {
         margin-top: 2rem;
      }
   }

   .header {
      flex-direction: column;

      &__container {
         margin-left: 0;
         margin-top: 3rem;
         align-items: center;
         margin-bottom: 2rem;
         width: 90%;
      }

      &__logos-container {
         margin-bottom: 2rem;

         & .logo:first-child {
            width: 180px;
         }
      }

      &__title {
         font-size: 2rem;
         letter-spacing: normal;
      }

      &__text {
         font-size: 1rem;
         margin-bottom: 1rem;
      }

      & > img {
         order: 2;
      }
   }
   
   .features__container {

      & > div:nth-child(3), & > div:last-child {
         margin-top: 2rem;
      }
  }

  .promos {
     flex-direction: column;

     &__promo {
        width: auto;
        height: 260px;
     }

     &__img {
        width: 50%;
     }
  }

  .featured-pc {
     flex-direction: column;
     margin-top: 3rem;
     height: auto;

     &__container {
        margin-right: 0;
        margin-bottom: 3rem;
        width: 90%;
     }

     &__title {
        font-size: 2rem;
        letter-spacing: normal;
     }

     &__text {
        margin-bottom: 2rem;
     }

     & > img {
        width: 50%;
     }
  }

  .refurbished {
     &__title {
        width: 80%;
        text-align: center;
     }
  }

  .footer {
     &__input {
        width: 80%;
     }
  }
}

@media (max-width: 411px) {
   .features__container {

      & > div {
         margin: 0;
         margin-top: 2rem;

         &:first-child {
            margin-top: 0;
         }
      }
  }

  .promos {

      &__img {
         width: 70%;
      }
   }

   .reviews__container {
      & > div {
         width: 80%;
         margin-bottom: 1rem;

         &:last-child {
            margin-bottom: 0;
         }
      }
  }
}

@media (max-width: 375px) {
   
}